
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  color: #000;
}

body {
  font-family: sans-serif;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.container {
  max-width: 100%;
  min-width: 320px;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0,0,0,0);
  overflow: hidden;
}

.figures {
  border: 1 px solid red;
}

#canvas {
position: relative;
z-index: 0;
max-width: 100%;
}

.uuid-output {
  position: absolute;
  bottom:0; 
  left:0;
  z-index: 3;
  color: white;
}

.close-btn {
  margin-left: 5px;
  border: 1px solid grey;
  cursor: pointer;
}

.btn__chose {
  margin: 5px;
}

.form__container{
  margin: 10px;
}